.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    background-color: rgb(59 58 58 / 86%);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90vw;
    padding: 20px;
    margin-top: 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    align-items: flex-start;
    width: 28vw;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.486);
    color: white;
    font-size: 13px;
    width: 27vw;
}

label {
    padding-left: 3px;
}

button {
    margin-top: 20px;
    width: 15vw;
    height: 7vh;
}

.child-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

h1 {
    font-size: 80px;
    width: 100%;
    color: wheat;
    text-align: center;
    padding: 5vh;
}